body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.airplane {
    background-color: darkgray;
    border: 1px solid black;
}

.econCabin {
    /* display: inline-block; */
}

.seat {
    height: 20px;
    width: 20px;
    background-color: salmon;
    margin: 2px;
    display: inline-block;
}

.econ {
    background-color: lightblue;
}

.plus {
    background-color: bisque;
}

.biz {
    background-color: salmon;
}

.first {
    background-color:lightgreen;
}

.info {
    background-color: lightcoral;
    padding: 5%;
    border-radius: 15px;
    margin: 2%;
}